*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", Arial, sans-serif;
  color: var(--Grayish-Blue);
  background-color: var(--Light-Grayish-Blue);
}

:root {
  --very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

.container {
  max-width: 90%;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 0.8rem;
  position: relative;
  box-shadow: 10px 10px 15px rgba(175, 175, 232, 0.1);
}

.card-img {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
}

.card-content {
  padding: 2rem 2rem 1.5rem 2rem;
}
.article-title,
.article-text {
  margin-bottom: 1.5rem;
}

.article-title {
  line-height: 130%;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.25px;
}

.article-text {
  margin-bottom: 2.5rem;
  font-size: 0.875rem;
  letter-spacing: 0.12px;
  font-weight: 500;
}

.author-name,
.article-date {
  font-size: 0.875rem;
  letter-spacing: 0.12px;
  font-weight: 500;
}

.article-title,
.author-name {
  color: var(--very-Dark-Grayish-Blue);
}
.footer-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author {
  display: flex;
  gap: 1rem;
}
.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.hide {
  display: none;
}
.open-share-links {
  padding: 1rem;
  background-color: var(--Light-Grayish-Blue);
  border-radius: 50%;
  border: 0;
  z-index: 1000;
  cursor: pointer;
}

#share-active {
  background-color: var(--very-Dark-Grayish-Blue);
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0.8rem 0.8rem;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.share-social-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: fit-content;
}

.share-active-icon {
  padding: 0.6rem;
  background-color: var(--Grayish-Blue);
  border-radius: 50%;
}

.share-text {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
  color: var(--Grayish-Blue);
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    width: 100%;
    max-width: 760px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: relative;
    flex-shrink: 0;
  }

  .card-img {
    border-radius: 0.8rem 0 0 0.8rem;
    width: 40%;
    object-fit: cover;
    object-position: left;
  }

  .card-content {
    width: 60%;
  }

  #share-active {
    width: 40%;
    bottom: 90px;
    right: -10px;
    border-radius: 0.8rem;
    padding: 1rem;
  }
}

@media (min-width: 1000px) {
  #share-active {
    right: -100px;
  }
}
